@model JonDJones.Core.ViewComponents.FooterViewModel
@using EPiServer.Web.Mvc.Html

<!-- Footer -->
<section id="footer">

    @Html.PropertyFor(m => m.ContentArea)

    <div id="copyright" class="container">
        <ul class="links">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>