@model Cms.Core.ViewModel.Base.ComposedBlockViewModel<Cms.Core.Models.Blocks.BannerBlock, Cms.Core.ViewModel.Blocks.BannerViewModel>

<!-- Banner -->
<section id="banner">
    <div class="container">
        <p>@Model.ViewModel.BannerText</p>
    </div>
</section>
